<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <script src='https://code.jquery.com/jquery-3.3.1.min.js'
        integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' crossorigin='anonymous'></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
  <title>Home Page</title>
</head>

<body>
  <div class="nav-container">
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand display-2">Images Gallery</a>
      <form class="form-inline">
        <button class="btn btn-outline-primary my-2 my-sm-0" data-toggle="modal" data-target="#uploadModal" type="button" id="upload">Upload</button>
      </form>
    </nav>
  </div>
<!-- modal -->
    <div class="modal" tabindex="-1" role="dialog" id="uploadModal">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Add Photo</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <!-- ADD INPUT FORM HERE -->
                  <!-- <p>ADD INPUT FORMS HERE</p> -->
                  <!-- FILE UPLOAD -->
                  <form method="POST" action="/api/image-upload" enctype="multipart/form-data">
        <div class="field">
            <label for="image">Image Upload</label>
            <input type="file" name="image" id="image">
        </div>
        {{!-- <input type="submit" class="btn" value="Save"> --}}

                </div>
                <div class="modal-footer">
                  {{!-- <button type="button" class="btn btn-primary" id="fileupload">Submit</button> --}}
                  <input type="submit" class="btn" value="Save">
                </div>
                </form>
              </div>
            </div>
    </div>
    
  {{{body}}}
</body>
{{!-- <script src="/public/js/nav_modal.js"></script> --}}
</html>
